* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin: 25px;
}

h1 {
    border: 2px black solid;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 10px;
}

#category-label {
    font-size: 20px;
}

.scrollable {
    margin: 10px 0;
    max-height: calc(100vh - 500px);
    overflow-y: auto;
    border: 1px solid;
}

table {
    position: sticky;
    top: 0;
    width: 100%;
}

th {
    position: sticky;
    top: 0;
    background-color: white ;
    border-bottom: 1px dashed;
}

td {
    text-align: center;
}

.add h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.add_inputs {
    display: flex;
    flex-direction: column;
}

input, select, .add-button {
    margin: 5px 0;
    height: 40px;
    font-size: 20px;
}

.add-button {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.navigation {
    margin-top: 25px;
}

.no-items {
    font-size: 18px;
}

.no-categories {
    margin-top: 15px;
}